<ActionBar title="Local Plants" class="action-bar">
</ActionBar>
<ListView [items]="goodPlants" separatorColor="transparent">
    <ng-template let-item="item">
        <StackLayout class="image-content-container">
            <Image [src]="item.imageUrl" [nsRouterLink]="['/plantdetail']"></Image>
            <!-- <Image [src]="item.imageUrl" (tap)="onTap()"></Image> -->
            <Label [text]="item.SPECIES" textTransform="uppercase" style="text-align:center;"></Label>
        </StackLayout>
    </ng-template>
</ListView>
