<StackLayout>
    <ActionBar title="Local Plants" class="action-bar"></ActionBar>
    <ListView [items]="goodPlants" separatorColor="transparent" height="90%">
        <ng-template let-item="item">
            <StackLayout class="image-content-container">
                <Image height="300" width="300" [src]="item.imageUrl"[nsRouterLink]="['/plant-detail', item.id]"></Image>
                <Label text="{{item.SPECIES}} {{item.GENUS}}" textTransform="uppercase" style="text-align:center;"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <Button text="Next Page" class="-primary" [nsRouterLink]="['/plants']"></Button>
</StackLayout>
